In [1]:
#Habilitar intellisense
%config IPCompleter.greedy=True

In [2]:
import pandas as pd
import numpy as np
import string

import nltk
import re
import pickle
import os

from xgboost.sklearn import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


from nltk.tokenize import sent_tokenize
from bs4 import BeautifulSoup


from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

In [3]:
data = pd.read_csv('imdb_dataset.csv',encoding="ISO-8859-1")
data.head()

                                              Review Label
0  Once again Mr. Costner has dragged out a movie...   neg
1  This is an example of why the majority of acti...   neg
2  First of all I hate those moronic rappers, who...   neg
3  Not even the Beatles could write songs everyon...   neg
4  Brass pictures (movies is not a fitting word f...   neg

In [89]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [8]:
# print(data.shape) # (50000, 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  50000 non-null  object
 1   Label   50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [4]:
# data_prueba=data.sample(frac=0.2)


#Guardando data -> 20% = 10.000
# # #Crear DataFrame de 10.000 
# df = pd.DataFrame(poblacion) 
# muestra = df.sample(n = 10000)
# muestra.head() #Es aleatorio, cada vez hay nuevos valores -> Resultados deberian ser parecidos 

#Exportar DataFrame
# data_prueba.to_csv ('imdb_dataset_prueba.csv')

In [5]:
data = pd.read_csv('imdb_dataset_prueba.csv',encoding="ISO-8859-1")
data.head()

   Unnamed: 0                                             Review Label
0        7429  Let's see: there's a civil war, a lost city, a...   neg
1       15594  This two-character drama is extremely well-act...   pos
2       17577  You don't have to be a tamilian to appreciate ...   pos
3       40506  Documentaries of this kind are often very opin...   pos
4         390  It isn't TOO bad, but ultimately it lacks the ...   neg

In [6]:
# print(data.shape) # (50000, 1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   Review      10000 non-null  object
 2   Label       10000 non-null  object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [7]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')] #Limpiar la columna Unnamed

In [46]:
#data.info()
data.head()

                                              Review Label
0  Let's see: there's a civil war, a lost city, a...   neg
1  This two-character drama is extremely well-act...   pos
2  You don't have to be a tamilian to appreciate ...   pos
3  Documentaries of this kind are often very opin...   pos
4  It isn't TOO bad, but ultimately it lacks the ...   neg

In [47]:
palabras_parada = set( nltk.corpus.stopwords.words('english') + list(string.punctuation)+["...","..","hr"])
#palabras_parada

In [48]:
def cleanHtml(conHTML):
    limpiar_html = re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});')
    sin_html = re.sub(limpiar_html, '', conHTML)
    return sin_html

def delete_html(palabras):
    array = []
    for palabra in  palabras:
        deleted_html = cleanHtml(palabra)
        array.append(deleted_html)
    return array

def delete_quotes(palabras):
    array = []
    for palabra in  palabras:
        palabra = palabra.strip("'")
        palabra = palabra.strip("`")
        array.append(palabra)
    return array

def tokenize(texto):
    texto=texto.lower()
    palabras = nltk.word_tokenize(texto)#separa las palabras
    return [palabra for palabra in palabras if palabra not in palabras_parada]#quita stopwords
def list_to_string(lista):  
    str1 = " " 
    return (str1.join(lista))

In [49]:
lista_comentarios=[]
for index, row in data.iterrows():
    
    tokenizado=tokenize(row['Review'])
    
    deleted_html=delete_html(tokenizado)
    
    delted_quotes=delete_quotes(deleted_html)
    
    lista=list_to_string(delted_quotes)
    
    lista_comentarios.append(lista)
    
lista_comentarios[0]

'let s see s civil war lost city talking gorilla regular gorillas previously unknown species killer albino gorilla powerful laser ever known man lot diamonds lying mined loose sand attack hippos active volcano hot air balloon packed suitcase downed plane s much ve coherent fever dreams  romanian guy picked bunch diamonds lost city looking something mean gorillas seen came nowhere ate somehow talking gorilla back visiting regular gorillas kind earthquake volcano started woman industrialist/doctor built gun using laser big diamond found dead fiance s hand  s blast re looking ammunition pernicious influence michael crichton american entertainment hence world entertainment keep firmly mind extent cynical half-hearted attempt fell face boxoffice sadly men responsible -- crichton sceenwriter john patrick shanley director frank marshall -- probably never lost dime shame mean 1/10'

In [50]:
lista_comentarios = np.array(lista_comentarios) #Convirtiendo la lista de cometario a np.array 
print(type(lista_comentarios))

<class 'numpy.ndarray'>

In [66]:
lista_comentarios.shape

(10000,)

In [67]:
def get_vocabulary(normalized_corpus): #Devuelve lista ordenada con tokens normalizados
    all_tokens = [] 
    for document in normalized_corpus:
        all_tokens.extend(document.split())  
    all_tokens_sorted = sorted(set(all_tokens))
    
    token_and_position = {}
    for i, token in enumerate(all_tokens_sorted):
        token_and_position[token] = i
    
    return token_and_position



problem_vocabulary = get_vocabulary(lista_comentarios)
print("Tamaño del lista: ",len(problem_vocabulary))

Tamaño del lista:  68827

In [68]:
# problem_vocabulary #Lista  con el vocabulario del problema

In [71]:
def one_hot_vector(document, problem_vocabulary):
    vector = np.zeros(len(problem_vocabulary),dtype=int)
    for token in document.split():
        vector[problem_vocabulary[token]] = 1
    return vector

def one_hot_matrix(lista):
    matriz=[]
    for i in lista:
        matriz.append(one_hot_vector(i, problem_vocabulary))
    return matriz
        
matriz=one_hot_matrix(lista_comentarios)

In [75]:
#matriz
#print(type(matriz)) #<class 'list'>

#matriz = np.array(matriz)

#print(type(matriz))
# matriz

matriz.shape 

# '''68827 es el tamaño del vocabulario del problema'''

(10000, 68827)

In [77]:
print("Numero de comentarios: " ,len(data))

Numero de comentarios:  10000

In [78]:
matriz_diccionario=[]
i=0
for index, row in data_prueba.iterrows():
    z = {'tokenizado':matriz[i],'clasificacion':row['Label']}
    i=i+1
    matriz_diccionario.append(z)

In [80]:
#matriz_diccionario
print(matriz_diccionario[0])
print(matriz_diccionario[1])

{'tokenizado': array([0, 0, 0, ..., 0, 0, 0]), 'clasificacion': 'neg'}
{'tokenizado': array([0, 0, 0, ..., 0, 0, 0]), 'clasificacion': 'pos'}

In [81]:
lista_entrenamiento=[]
for i in matriz_diccionario:
    if(i["clasificacion"]=="pos"):
        lista_entrenamiento.append([i["tokenizado"], 1])
    else:
        lista_entrenamiento.append([i["tokenizado"], 0])

In [82]:
# lista_entrenamiento
print(lista_entrenamiento[0])
print(lista_entrenamiento[1])

[array([0, 0, 0, ..., 0, 0, 0]), 0]
[array([0, 0, 0, ..., 0, 0, 0]), 1]

In [88]:
# df = pd.DataFrame(lista_entrenamiento)
# df[0]



# serie = df[0].apply(pd.Series) #Se puede descomentar 
# serie[0]


# serie["output"]=df[1]  #Se puede descomentar 
# serie[0]            #Se puede descomentar 

#print(type(serie))
# serie                 #Data Frame

,0,1,2,3,4,5,6,7,8,9,...,68818,68819,68820,68821,68822,68823,68824,68825,68826,output
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
mat_len=len(problem_vocabulary)
mat_len

68827

In [ ]:
X = serie.drop('output', axis = 1)
y = serie["output"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training, 30% test
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [94]:
treeV4=RandomForestClassifier(n_estimators=88)

In [95]:
treeV4.fit(X_train,y_train)

RandomForestClassifier(n_estimators=88)

In [96]:
print('accuracy del clasificador - version 4 : {0:.2f}'.format(accuracy_score(y_test, treeV4.predict(X_test))))
# confusion matrix
print('matriz de confusión del clasificador - version 4: \n {0}'.format(confusion_matrix(y_test, treeV4.predict(X_test))))
# precision 
print('precision del clasificador - version 4 : {0:.2f}'.format(precision_score(y_test, treeV4.predict(X_test))))
# recall
print('recall del clasificador - version 4 : {0:.2f}'.format(recall_score(y_test, treeV4.predict(X_test))))
# f1
print('f1 del clasificador - version 4 : {0:.2f}'.format(f1_score(y_test, treeV4.predict(X_test))))

accuracy del clasificador - version 4 : 0.84
matriz de confusión del clasificador - version 4:
 [[1266  223]
 [ 258 1253]]
precision del clasificador - version 4 : 0.85
recall del clasificador - version 4 : 0.83
f1 del clasificador - version 4 : 0.84

84% de exactitud > 80%

In [97]:
ruta_archivo_clasificador = os.path.join("Clasificador", "tree_v4.pkl")
archivo_clasificador = open(ruta_archivo_clasificador, "wb")
pickle.dump(treeV4, archivo_clasificador)
archivo_clasificador.close()

In [98]:
ruta_archivo_vocabulario = os.path.join("Clasificador","VocabularioProblema.pkl")

#Abrir el archivo para escribir contenido binario
archivo_vocabulario = open(ruta_archivo_vocabulario, "wb")

pickle.dump(problem_vocabulary, archivo_vocabulario,protocol=2)

archivo_vocabulario.close()